<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.covintena">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Transicion3Activity"></activity>
        <activity android:name=".Transicion2Activity" />
        <activity android:name=".Transicion1Activity" />
        <activity android:name=".Dato5Activityy" />
        <activity android:name=".Dato4Activity" />
        <activity android:name=".Dato3Activity" />
        <activity android:name=".Dato2Activity" />
        <activity android:name=".Dato1Activity" />
        <activity android:name=".RecomendacionesActivity" />
        <activity android:name=".SubCategoriaActivity" />
        <activity android:name=".VagModeActivity" />
        <activity android:name=".FlappyVirusActivity" />
        <activity android:name=".TriviaActivity" />
        <activity android:name=".HeadsUpActivity" />
        <activity android:name=".GamesActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>